<header>
    <a href="/"><img src="/assets/img/datw-logo.svg" alt="Diva Around The World" id="logo"></a>


    <button class="hamburger hamburger--collapse" type="button">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
    
    <nav>
        <ul>
        {% for item in site.pages %}
            {% assign classes = "" %}
            {% if page.url == item.url %}
                {% assign classes = "active" %}
            {% endif %}
            {% if item.menu == true %}
                <li>
                    <a href="{{ item.url | relative_url }}" class="{{ classes }}">{{ item.title }}</a>
                </li>
            {% endif %}
        {% endfor %}
        </ul>
    </nav>
    
    <div id="socials">
        <ul>
            <li><a target="_blank" href="https://www.instagram.com/diva_around_the_world/"><i class="fab fa-instagram"></i></a></li>
            <li><a target="_blank" href="https://www.facebook.com/DivaAroundtheWorld/"><i class="fab fa-facebook-square"></i></a></li>
            <li><i id="newsletter-icon" class="fas fa-envelope"></i></li>
        </ul>
    </div>
</header>