<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ site.title | escape }}{% if page.title != "Home" %} | {{ page.title | escape }}{% endif %}</title>
    <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

    <link rel="stylesheet" href="https://use.typekit.net/dtk3skv.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="/assets/js/instafeed.js"></script>
    
    <script type="text/javascript">
        var feed = new Instafeed({
            clientId: '430154018e7848a3b14fdec184acf138',
            accessToken: '218608376.1677ed0.195bf9a34e194461b313fd6921b5fb5f',
            get: 'user',
            userId: '218608376',
            resolution: 'standard_resolution',
            limit: 16,
        });
        feed.run();
    </script>
</head>
