<header>
    <img src="/assets/img/datw-logo.svg" alt="Diva Around The World" id="logo">


    <button class="hamburger hamburger--collapse" type="button">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
    
    <nav>
        <ul>
        {% for item in site.pages %}
            {% assign classes = "" %}
            {% if page.url == item.url %}
                {% assign classes = "active" %}
            {% endif %}
            {% if item.menu == true %}
                <li>
                    <a href="{{ item.url | relative_url }}" class="{{ classes }}">{{ item.title }}</a>
                </li>
            {% endif %}
        {% endfor %}
        </ul>
    </nav>
</header>