---
layout: page
---

<form id="contact-form" class="form" role="form" method="POST" action="https://formspree.io/valentina.dirmaier@hotmail.com">
    <div class="form-group">
        <label class="form-label" for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" tabindex="1" required>
    </div>                            
    <div class="form-group">
        <label class="form-label" for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" tabindex="2" required>
    </div>                            
    </div>                            
    <div class="form-group">
        <label class="form-label" for="message">Nachricht</label>
        <textarea rows="5" cols="50" name="message" class="form-control" id="message" tabindex="4" required></textarea>                                 
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-start-order">Absenden</button>
    </div>
</form>