---
layout: page
---

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">                        
            <h2>Contact</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xs-offset-3">
            <form id="contact-form" class="form" action="mailto:elroy@live.be?Subject=Diva%20Around%20The%20World%3A%20Contact%20form%20Message" method="POST" role="form">
                <div class="form-group">
                    <label class="form-label" for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" tabindex="1" required>
                </div>                            
                <div class="form-group">
                    <label class="form-label" for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" tabindex="2" required>
                </div>                            
                </div>                            
                <div class="form-group">
                    <label class="form-label" for="message">Nachricht</label>
                    <textarea rows="5" cols="50" name="message" class="form-control" id="message" tabindex="3" required></textarea>                                 
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-start-order">Absenden</button>
                </div>
            </form>
        </div>
    </div>
</div>